.rc-circle-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
    background: black;
    background-size: 700% 700%;
    animation: rc-gradientAnimation 5s ease infinite;
}

.rc-circle-wrapper {
    position: relative;
    width: 480px;
    height: 480px;
    margin: 0 auto;
    animation: rc-levitate 3s ease-in-out infinite; /* Animation de lévitation ajoutée */
}

.rc-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(173, 216, 230, 0); /* Transparent */
    border: 5px solid white;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* Soft white glow */
}

.rc-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    color: white;
}

.rc-circle::before {
    content: '';
    position: absolute;
    top: -2px; left: -2px; bottom: -2px; right: -2px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    animation: rc-spin 20s linear infinite;
}

@keyframes rc-levitate {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes rc-gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
